<%= render partial: "layouts/callouts" %>

<div class="container mt-3 mb-3">
  <%= render partial: "line_show", locals: { line: @line } %>


  <a href="<%= lines_path %>" class="btn btn-primary">Regresar a Lineas</a>

</div>
