<%= render partial: "layouts/callouts" %>

<div class="container mt-3 mb-3">
  <%= render @checklist_record %>

  <div class="mt-3">
    <%= link_to "Edit this checklist record", edit_checklist_record_path(@checklist_record) %> |
    <%= link_to "Back to checklists", checklists_path %>
  </div>
</div>
