<%= render partial: "layouts/callouts" %>

<div class="container mt-3 mb-3">
  <h1>Editing checklist</h1>

  <%= render "form", checklist: @checklist %>

  <hr class="hr hr-blurry" />

  <%= link_to "Show this checklist", @checklist, class: "btn btn-primary" %> |
  <%= link_to "Back to checklists", checklists_path, class: "btn btn-primary" %>
</div>
