
<%= render partial: "layouts/callouts" %>

<div class="container mt-3 mb-3">
<h1>Nuevo elemento de checklist</h1>

<%= render "form", checklist_item: @checklist_item %>

<hr class="hr hr-blurry" />

<%= link_to "Regresar a checklist", checklist_path(@checklist), class: "btn btn-primary" %>

</div>